* {
    font-family: 'Gothic A1', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn_custom {
    border-radius: 70px;
    background: var(--base, linear-gradient(180deg, #722CFF 0%, #A346EF 100%));
    box-shadow: 0px 4px 15px 0px rgba(10, 10, 10, 0.25);
    padding: 23px 35px;
    color: white;
    font-size: 18px;
}


.font_caprasimo {
    font-family: 'Caprasimo', cursive;
}