* {
    font-family: 'Gothic A1', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.btn_custom{
    @apply bg-gradient-to-b from-[#722CFF] to-[#A346EF] font-medium rounded-full py-[23px] px-[35px] text-lg text-white inline-block transition hover:scale-[1.05] shadow-lg shadow-[#0a0a0a40];
}
.btn_custom_black{
    @apply bg-[#313131] font-medium rounded-full py-[23px] px-[35px] text-lg text-white inline-block transition hover:scale-[1.05] shadow-lg shadow-[#0a0a0a40];
}

.bg_image1{
    background: url(../src/assets/video/image_1.png) top center no-repeat;
  background-size: cover;
}


.font_caprasimo {
    font-family: 'Caprasimo', cursive;
}

.img_ani{
    cursor: pointer;
    transition: all;
    transition-duration: 1s;
}
.img_ani:hover{
    scale: 1.05;
    transition: all;
    transition-duration: 1s;
}

.offcanvas.active {
    left: 0;
  }

@media (max-width: 768px) {
    [data-aos] {
      opacity: 1 !important;
      transform: none !important;
    }
  }